.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.menuContainer {
  width: 275px;
  background-color: #1F2A3C;
  min-height: 100vh;
  min-width: 275px;
  color: #D4D7DD;
  position: fixed;
}

.mainView {
  position: absolute;
  left: 290px;
  margin: 48px;
  width: -webkit-fill-available;
}

.container {
  flex-wrap: nowrap;
}

@media only screen and (max-width: 768px) {
  .mainView {
    position: absolute;
    left: 0;
    margin: 24px;
    width: -webkit-fill-available;
  }
}

